---
layout: base
---
{% assign posts = "" | split:"|"  %}
{% assign counter = 0 %}
{% for post in site.posts %}
    {% if post.thumbnail and post.tags contains site.sticky %}
        {% if page.tag%}
            {% if post.tags contains page.tag %}
                {% assign posts = posts | push: post%}
                {% assign counter = counter | plus: 1 %}
            {% endif %}
        {% elsif page.category%}
            {% if post.categories contains page.category %}
                {% assign posts = posts | push: post%}
                {% assign counter = counter | plus: 1 %}
            {% endif %}
        {% else %}
            {% assign posts = posts | push: post%}
            {% assign counter = counter | plus: 1 %}
        {% endif %}
        {% if counter == site.sticky_count %}
            {% break %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if posts.size > 0 %}
<div class="row">
    <div class="slider">
        <ul class="slides">
            {% for post in posts %}
            <li>
                <a href="{{ post.url | prepend : site.baseurl }}">{% img post.thumbnail %}</a>
                <div class="caption center-align">
                    <h3>{{ post.title }}</h3>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<div class="row">
    {% for post in paginator.posts %}
    <div class="col s12 m6">
        <div class="card medium sticky-action hoverable">
            {% if post.thumbnail %}
            <div class="card-image">
                {% img post.thumbnail %}
            </div>
            {% endif %}
            <div class="card-content">
                <span class="card-title grey-text text-darken-4 truncate {% if post.thumbnail%}activator{% endif %}">{{ post.title }}</span>
                <div class="valign-wrapper">
                <div class="author"><img src="/img/{{ post.categories[0] | downcase }}_s.png" class="circle responsive-img"></div>
				<div>{% for category in post.categories%}<a href="{{ category | prepend: '/categories/' | prepend: site.baseurl }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}{% endfor%} - {{ post.date | date: "%m/%d/%Y" }}</div>
                </div>
                {% if post.thumbnail == nil %}
                {% for tag in post.tags %}
                {% if tag != site.sticky %}
                <a href="{{ tag | prepend: '/tags/' | prepend: site.baseurl }}"><div class="chip waves-effect waves-red">{{ tag }}</div></a>
                {% endif %}
                {% endfor %}
                <p class="truncate">{{post.excerpt}} </p>
                {% endif %}
            </div>
            <div class="card-action"><a href="{{ post.url | prepend: site.baseurl }}">{{ site.read_more }}</a></div>
            {% if post.thumbnail %}
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 truncate">{{ post.title }}<i class="material-icons right">close</i></span>
                <div class="row valign-wrapper">
                    <div class="author"><img src="/img/{{ post.categories[0] | downcase }}_s.png" class="circle responsive-img"></div> {% for category in post.categories%}<a href="{{ category | prepend: '/categories/' | prepend: site.baseurl }}">{{ category }}</a>{% unless forloop.last%}, {% endunless %}{% endfor%} - {{ post.date | date: "%m/%d/%Y" }}
                </div>
                {% for tag in post.tags %}
                <a href="{{ tag | prepend: '/tags/' | prepend: site.baseurl }}"><div class="chip waves-effect waves-red">{{ tag }}</div></a>
                {% endfor %}
                <p class="truncate">{{post.excerpt}} </p>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="center-align">
        <ul class="pagination">
            {% if paginator.previous_page %}
				<li class="waves-effect waves-red">
			{% else %}
				<li class="disabled">
			{% endif %}
			<a {% if paginator.previous_page %}href="..{{  paginator.previous_page_path }}"{% endif %}>
			<i class="material-icons">chevron_left</i>
			</a>
			</li>
            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}<li class="active">{% else %}<li class="waves-effect waves-red">{% endif %}
            {% if page == paginator.page %}<a>{% elsif page == 1 %}<a href="../">{% else %}<a href="{% if paginator.page != 1 %}../{% endif %}{{ page }}">{% endif %}
                {{ page }}</a></li>
            {% endfor %}
			{% if paginator.next_page %}
				<li class="waves-effect waves-red">
			{% else %}
				<li class="disabled">
			{% endif %}
			<a {% if paginator.next_page %}href="{% if paginator.page != 1 %}.{% endif %}.{{ paginator.next_page_path }}"{% endif %}>
			<i class="material-icons">chevron_right</i>
			</a>
			</li>
        </ul>
    </div>
</div>